<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Farmacias de Guardia
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Desliza para actuarizar..."
          refreshingSpinner="circles"
          refreshingText="actualuzando...">
        </ion-refresher-content>
      </ion-refresher>

  <p *ngIf="poblacion">{{poblacion}}</p>
  <h3 text-center *ngIf="localidad">{{localidad}}</h3>
  <h4 text-center *ngIf="fechaGuardia">{{fechaGuardia}}</h4>
  <ion-card *ngFor="let farmacia of listaFarmacias">
    <ion-card-header text-center text-wrap>
        {{farmacia.nombre}}
    </ion-card-header>
    <ion-card-content (click)="alMapa(farmacia.direccion)">
      <h3 text-center>{{farmacia.direccion}}</h3>
      <h4 text-center>{{farmacia.telefono}}</h4>
    </ion-card-content>   
  </ion-card>
  <ion-fab right bottom>
    <button ion-fab [hidden]="botonMapa" color="primary" (click)="alMapaRes()"><ion-icon name="map"></ion-icon></button>
  </ion-fab>
</ion-content>
